{% extends 'management.html' %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% trans 'Prune configurations' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Prune configurations' %}
    <small>(<a href='{% url 'prune.config_add' %}'>{% trans 'add' %}</a>)</small>
  </h1>


  <table cellpadding='3px'>
    <tr>
      <th>{{ m|field_name:'name' }}</th>
      <th></th>
      <th></th>
    </tr>
    {% for config in configs %}
    <tr>
      <td>{{ config }}</td>
      <td></td>
      <td>
        <a href='{% url 'prune.config_edit' config.oid %}'>edit</a>
        <a href='{% url 'prune.config_preview' config.oid %}'>preview</a>
        {% url 'prune.config_delete' config.oid as url %}
        {% trans 'delete' as label %}
        {% trans 'Are you sure you want to delete this prune configuration?' as confirm %}
        {% include 'core/post_link.html' with url=url label=label confirm=confirm %}
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan='2'><div style='padding-left: 1em;'>{{ config.description|linebreaksbr }}</div></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
