{% extends 'base.html' %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% trans 'Add scheduled job' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Add scheduled job' %}</h1>

  <form method='POST' id='form'>
    <table>
      {% block form %}
        {% csrf_token %}
        {{ form.media }}
        {{ form }}

        <tr>
          <td></td>
          <td>
            <table class='message-warning'>
              <tr>
                <td class='symbol'>[!]</td>
                <td class='body'>
                  {% blocktrans %}
                    <p>While the above widget allows you to specify very complicated recurrence rules,
                      I (as in the developer of this thing) suggest to not do that.</p>

                    <p>They <em>practically never</em> mean what you think. Stick to the basics - daily,
                      every other day, weekly etc., avoid exclusions - otherwise it becomes confusing
                      <em>fast</em>.
                    </p>{% endblocktrans %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endblock %}

      <tr id='before-actions'>
        <td colspan='2'>
          <h2 style='float: left;'>{% trans 'Scheduled actions' %}</h2>
          <hr style='margin-top: 2em; margin-left: 1em;'>
          <div style='clear:both;'></div>

          {% blocktrans %}
          <p>In this area you can setup what will happen on this schedule by adding separate actions,
            typically initiating a backup, repository check or similar. All actions will be scheduled at
            the time indicated above and the order presented here and will be processed by the system
            as soon as possible.</p>
          {% endblocktrans %}

          <select name='_doesntmatter' id='action-selector' size=1>
            {% for class, name in classes.items %}
            <option value='{{ class }}'>{{ name }}</option>
            {% endfor %}
          </select>

          <button id='add-action' type='button'>{% trans 'Add' %}</button>
        </td>
      </tr>

      <!-- TODO support reordering -->

      <tr>
        <td colspan='2'><hr></td>
      </tr>

      <tr>
        <td></td>
        <td><input type='submit' id='submit-button' onsubmit='event.preventDefault();' value='{% trans 'Add scheduled job' %}'/></td>
      </tr>
    </table>

    <!--
      To more easily parse the form and preserve the structure the actions are packed into JSON via JS,
      the other values sent by the browsers are simply ignored.
      -->
    <input type='hidden' id='actions-data' name='actions-data'>

    <div style='display: none;' id='node-storage'>
      <!-- node storage -->

      <table>
        <tr class='action-header'>
          <td></td>
          <td>
            <h3> <small>(<a class='remove-action'>{% trans "remove" %}</a>)</small></h3>
          </td>
        </tr>
      </table>
    </div>

    <script type='application/javascript'>
      function html_to_dom(html) {
        var template = document.createElement('template');
        template.innerHTML = html;
        return template.content.childNodes;
      }

      function insert_element_after(after, to_insert) {
        return after.parentNode.insertBefore(to_insert, after.nextSibling);
      }

      function insert_elements_after(after, to_insert) {
        var last = null;
        for (var i = 0; i < to_insert.length; i++) {
          var dom_element = to_insert[i];
          last = insert_element_after(after, dom_element);
        }
        return last;
      }

      function escape_html(str) {
          var div = document.createElement('div');
          div.appendChild(document.createTextNode(str));
          return div.innerHTML;
      }

      function form_part_props(object, part_element) {
        var elements = part_element.querySelectorAll('input,textarea,select,button');
        for (var i = 0; i < elements.length; i++) {
          var element = elements[i];
          var value = null;
          if (element.name === "") {
            continue;
          }
          switch (element.nodeName) {
            case 'INPUT':
              switch (element.type) {
                case 'text':
                case 'hidden':
                case 'password':
                case 'button':
                case 'reset':
                case 'submit':
                  value = element.value;
                  break;
                case 'checkbox':
                case 'radio':
                  if (element.checked) {
                    value = element.value;
                  }
                  break;
              }
              break;
            case 'TEXTAREA':
              value = element.value;
              break;
            case 'SELECT':
              switch (element.type) {
                case 'select-one':
                  value = element.value;
                  break;
                case 'select-multiple':
                  value = [];
                  for (var j = 0; j < element.options.length; j++) {
                    var option = element.options[j];
                    if (option.selected) {
                      value.push(option.value);
                    }
                  }
                  break;
              }
              break;
            case 'BUTTON':
              value = element.value;
              break;
          }
          if (value !== null) {
            object[element.name] = value;
          }
        }
      }

      window.addEventListener('load', function () {
        var action_selector = document.getElementById('action-selector');
        var add_action = document.getElementById('add-action');
        /* the element before the next action */
        var before_actions = document.getElementById('before-actions');

        var actions_index = 0; /* adjust if pre-gen actions are present */

        var node_storage = document.getElementById('node-storage');

        add_action.addEventListener('click', function () {
          var selected_action = action_selector.selectedOptions[0];
          console.log('Fetching HTML for selected action', selected_action);
          var xhr = new XMLHttpRequest();

          xhr.addEventListener('readystatechange', function () {
            if (xhr.readyState == 4) {
              /* this is the class form rows of this action get */
              var action_cls = 'action-' + actions_index;

              var header_row = node_storage.getElementsByClassName('action-header')[0].cloneNode(true);

              /* Modify header row with data + scripting */
              var heading = header_row.getElementsByTagName('h3')[0];
              var save_html = heading.innerHTML;
              heading.textContent = escape_html(selected_action.text);
              heading.innerHTML += save_html;
              heading.getElementsByClassName('remove-action')[0].addEventListener('click', function () {
                var rows = document.getElementsByClassName(action_cls);
                var parent = rows[0].parentNode;
                /* reverse iteration since *rows* is a live HTMLCollection */
                for (var i = rows.length - 1; i >= 0; i--) {
                  /* don't forget to back *before_actions* up correctly */
                  if (rows[i] === before_actions) {
                    before_actions = rows[i].previousSibling;
                  }
                  parent.removeChild(rows[i]);
                }
              });

              header_row.className += ' ' + action_cls;
              before_actions = insert_element_after(before_actions, header_row);

              var dom_elements = html_to_dom(xhr.responseText);
              for (var i = 0; i < dom_elements.length; i++) {
                var dom_element = dom_elements[i];
                dom_element.className += ' ' + action_cls;
              }
              before_actions = insert_elements_after(before_actions, dom_elements);

              actions_index++;
            }
          });
          xhr.open('GET', 'action-form/' + selected_action.value + '/', true);
          xhr.send();
        });

        document.getElementById('submit-button').addEventListener('submit', function () {
          var data = [];
          for (var i = 0; i < actions_index; i++) {
            var rows = document.getElementsByClassName('action-' + i);
            var action_data = {};

            if (!rows.length) {
              continue;
            }

            for (var j = 0; j < rows.length; j++) {
              form_part_props(action_data, rows[j]);
            }

            console.log(action_data);
            data.push(action_data);
          }

          console.log(data);
          console.log(JSON.stringify(data));

          document.getElementById('actions-data').value = JSON.stringify(data);

          document.getElementById('form').submit();
        });
      });
    </script>
  </form>
{% endblock %}
