{% extends 'base.html' %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% trans 'Schedules' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Schedules' %}
    <small>
      (<a href='.'>{% trans 'calendar' %}</a>)
      (<a href='.?view=add'>{% trans 'add' %}</a>)
    </small>
  </h1>

  <table class='schedules' cellpadding='3px'>
    <tr>
      <th>{{ m|field_name:'name' }}</th>
      <th>{% trans 'Recurrence' %}</th>
      <th></th>
    </tr>
    {% for schedule in schedules %}
    <tr>
      <td>{{ schedule.name }}</td>

      <!-- TODO last execution overall outcome -->
      <td>
        <a href='.?schedule={{ forloop.counter0 }}'>
          {% if schedule.recurrence_enabled %}
          {{ schedule.recurrence|describe_recurrence }}
          {% else %}
          {% trans 'recurrence disabled' %}
          {% endif %}
        </a>
      </td>

      <td>
        {% with pub=request.publisher|get:schedule.id %}
        <a href='{{ schedule.id }}/'>edit</a>
        {# url 'core.schedule_delete' schedule.id as url #}
        {% trans 'delete' as label %}
        {% trans 'Are you sure you want to delete this schedule?' as confirm %}
        {% include 'core/post_link.html' with url=url label=label confirm=confirm %}
        {% endwith %}
      </td>
    </tr>
    <tr>
      <td colspan='2'><div style='padding-left: 1em;'>{{ schedule.description|linebreaksbr }}</div></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
