{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Schedule' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Schedule' %}</h1>

  {% for item in items %}
    <h2 id='item-{{ item.pk }}'>{{ item.name }}
      <small>(<a href='{% url 'core.schedule_edit' item.pk %}'>{% trans 'edit' %}</a>)</small></h2>

    <p>{{ item.description }}</p>

    <ul>
      {% for occurence in item.occurences %}
      <li>{{ occurence }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
