{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'F Y' context 'schedule heading strftime for month' as fmt %}
  {% blocktrans with from=calsheet.month.date|date:fmt to=calsheet.month_end.date|date:fmt %}
  {{ from }} schedule
  {% endblocktrans %}
{% endblock %}

{% block content %}
  <h1>
    {% trans 'F Y' context 'schedule heading strftime for month' as fmt %}
    {% blocktrans with from=calsheet.month.date|date:fmt to=calsheet.month_end.date|date:fmt %}
    {{ from }} schedule
    {% endblocktrans %}

    <small>
      (<a href='{% url 'core.schedule_list' %}'>{% trans 'list' %}</a>)
      (<a href='{% url 'core.schedule_add' %}'>{% trans 'add' %}</a>)
    </small>
  </h1>

  <h2>

  </h2>

  <table class='calendar' width='100%'>
    <tr class='month-nav'>
      <td colspan='3'>
        <a href='{% url 'core.schedules' %}?year={{ prev_month.year }}&month={{ prev_month.month }}'>{% trans '« previous month' %}</a>
      </td>
      <td colspan='2' style='text-align: center;'>
        <a href='{% url 'core.schedules' %}'>{% trans 'current month' %}</a>
      </td>
      <td colspan='3' style='text-align: right'>
        <a href='{% url 'core.schedules' %}?year={{ next_month.year }}&month={{ next_month.month }}'>{% trans 'next month »' %}</a>
      </td>
    </tr>

    <tr class='month-header'>
      <th>{% trans 'KW' %}</th>
      <th>{% trans 'Monday' %}</th>
      <th>{% trans 'Tuesday' %}</th>
      <th>{% trans 'Wednesday' %}</th>
      <th>{% trans 'Thursday' %}</th>
      <th>{% trans 'Friday' %}</th>
      <th>{% trans 'Saturday' %}</th>
      <th>{% trans 'Sunday' %}</th>
    </tr>

    {% for week in calsheet.weeks %}
    <tr>
      <td>{{ week.number }}</td>
      {% for day in week.days %}
        <td class='{% if day.off_month %}day-off-month{% endif %} day'>
          <span class='day-number'>
            {% trans 'j' context 'calender day cell date format' as fmt %}
            {{ day.date|date:fmt }}
          </span><br>

          {% for schedule in day.schedules %}
            <a href='{% url 'core.schedule_edit' schedule.oid %}'>{{ schedule.name }}</a><br>
          {% endfor %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  {% for item in schedules %}
    <h2 id='item-{{ item.oid }}'>{{ item.name }}
      <small>(<a href='{% url 'core.schedule_edit' item.oid %}'>{% trans 'edit' %}</a>)</small></h2>

    <p>{{ item.description }}</p>

    <ul>
      {% for occurence in item.occurences %}
      <li>{{ occurence }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}

{% block extracss %}
<style type="text/css">
  .calendar .day {
    height: 3em;
  }

  .calendar .day-off-month {
    opacity: 0.5;
  }

  .calendar .day-number {
    font-weight: bold;
  }
</style>
{% endblock %}
