{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Schedule' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Schedule' %}
    <small>
      (<a href='{% url 'core.schedule_list' %}'>{% trans 'list' %}</a>)
      (<a href='{% url 'core.schedule_add' %}'>{% trans 'add' %}</a>)
    </small>
  </h1>

  {% for item in schedules %}
    <h2 id='item-{{ item.oid }}'>{{ item.name }}
      <small>(<a href='{% url 'core.schedule_edit' item.oid %}'>{% trans 'edit' %}</a>)</small></h2>

    <p>{{ item.description }}</p>

    <ul>
      {% for occurence in item.occurences %}
      <li>{{ occurence }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
