{% extends base_template %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% trans 'Triggers' %}{% endblock %}

{% block content %}
  {% block ctitle %}
    <h1>{% trans 'Triggers' %}
     <small>(<a href='?view=add'>{% trans 'add' %}</a>)</small></h1>
  {% endblock %}

  {% block secondary-menu %}
    {{ block.super }}
  {% endblock %}

  {% block ccontent %}
    <div class='longtext'>
    {% blocktrans %}
      <p>
        Triggers allow to trigger actions in the system externally, by eg. running a command or
        sending a HTTP POST to an URL. This is mostly useful if the internal scheduling facility
        is not used, but an external cron or similar shall be used. Note that the trigger command
        or HTTP request will just initiate the action and return immediately thereafter, while the
        action continues in the background.
      </p>

      <p>
        Every trigger has a randomly generated ID (so that they are not easily guessed by un-authorized
        personnel), and an associated list of contexts, which restrict from where it may be triggered.
        Additionally a comment can be specified, which will be added to the aduit trail of triggered
        actions.
      </p>
    {% endblocktrans %}
    </div>

    <table cellpadding='3px'>
      <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Contexts' %}</th>
        <th>{% trans '' context 'Heading of unlabelled actions column' %}</th>
      </tr>

      <tr>
        <td>
          fb69f4a2-c407-46ae-8874-eef0a1d07a78<br>
          URL: <code>http://magnus.enkore.de/trigger/fb69f4a2-c407-46ae-8874-eef0a1d07a78/</code><br>
          curl: <code>curl -sSX POST http://magnus.enkore.de/trigger/fb69f4a2-c407-46ae-8874-eef0a1d07a78/</code><br>
          Command: <code>/home/mabe/Projekte/_oss/borgcube/_venv/bin/borgcube-manage trigger fb69f4a2-c407-46ae-8874-eef0a1d07a78</code>
        </td>
        <td>
          <select name='foo' size='2' multiple>
            <option>Command line</option>
            <option>Anonymous HTTP POST</option>
          </select>
        </td>
        <td>
          <!-- TODO POST Confirm-Link -->
          <a href=''>{% trans 'Save' %}</a>
          <br>
          <a href='?view=delete'>{% trans 'Delete' %}</a>
        </td>
      </tr>

      <tr>
        <td colspan='3'><hr></td>
      </tr>

      <tr>
        <td>{% trans 'Add trigger, with randomly generated ID' %}</td>
        <td>
          <select name='foo' size='2' multiple>
            <option>Command line</option>
            <option>Anonymous HTTP POST</option>
          </select>
        </td>
        <td>
          <input type='submit'>
        </td>
      </tr>
    </table>
  {% endblock %}
{% endblock %}
