{% extends base_template %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% trans 'Triggers' %}{% endblock %}

{% block content %}
  {% block ctitle %}
    <h1>{% trans 'Triggers' %}
     <small>(<a href='?view=add'>{% trans 'add' %}</a>)</small></h1>
  {% endblock %}

  {% block secondary-menu %}
    {{ block.super }}
  {% endblock %}

  {% block ccontent %}
    <p class='longtext'>

    </p>

    <table cellpadding='3px'>
      <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Contexts' %}</th>
      </tr>
    </table>
  {% endblock %}
{% endblock %}
