{% extends './add.html' %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% blocktrans with name=repository.name%}Edit repository {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>{{ repository.name }}
    <small>
      (<a href='{% url 'core.repository_view' repository.oid %}'>{% trans 'view' %}</a>)
    </small>
  </h1>

  <form method='POST'>
    <table>
      {% block form %}
        {% csrf_token %}
        {{ repository_form }}
      {% endblock %}

      <tr>
        <td></td>
        <td><input type='submit' value='{% trans 'Save changes' %}'/></td>
      </tr>
    </table>
  </form>
{% endblock %}
