{% extends 'base.html' %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% trans 'Repositories' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Repositories' %}</h1>

  <table class='repositories jobs' cellpadding='3px'>
    <tr>
      <th>{{ m|field_name:'name' }}</th>
      <th>{% trans 'Last job' %}</th>
      <th>{% trans 'Outcome' %}</th>
      <th>{{ m|field_name:'url' }}</th>
    </tr>
    {% for repository in repositories %}
    {% with job=repository.latest_job %}
    <tr {% if job.failed %}class='failed'{% endif %}>
      <td><a href='{{ repository|get_url }}'>{{ repository.name }}</a></td>
      {% if job %}
      <td><a href='{{ job|get_url }}'>{{ job.timestamp_start|default:job.created }}</a></td>
      <td>{{ job.outcome }}</td>
      {% else %}
      <td colspan='2'>{% trans 'No job on file' %}</td>
      {% endif %}
      <td>{{ repository.url }}</td>
    </tr>
    {% endwith %}

    {% endfor %}
  </table>
{% endblock %}
