{% extends 'base.html' %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% blocktrans with name=repository.name%}Repository {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>{{ repository.name }}
    <small>
      (<a href='{% url 'core.repository_edit' repository.oid %}'>{% trans 'edit' %}</a>)
    </small>
  </h1>

  <p>{{ repository.description }}</p>

  <table class='plist'>
      <tr>
        <th>{{ repository|field_name:'url' }}</th>
        <td>{{ repository.url }}</td>
      </tr>
      <tr>
        <th>{{ repository|field_name:'repository_id' }}</th>
        <td>{{ repository.repository_id }}</td>
      </tr>
      <tr>
        <th>{{ repository|field_name:'remote_borg' }}</th>
        <td><pre>{{ repository.remote_borg }}</pre></td>
      </tr>
  </table>

  <h2>{% trans 'Job configurations' %}
    <small>(<a href='{% url 'core.repository_check_config_add' repository.oid %}'>{% trans 'add' %}</a>)</small></h2>

    {% for check_config in repository.job_configs %}

    <section class='check-config' id='check-config-{{ check_config.id }}'>
      <h3>{{ check_config.label }} <small>
        {% url 'core.repository_check_config_trigger' repository.oid check_config.oid as url %}
        {% trans 'run now' as label %}
        ({% include 'core/post_link.html' with url=url label=label %})
        (<a href='{% url 'core.repository_check_config_edit' repository.oid check_config.oid %}'>{% trans 'edit' %}</a>)
      </small></h3>


        <table class='plist'>
        {% with 'check_repository verify_data check_archives check_only_new_archives' as fields %}
        {% for field in fields.split %}
          <tr>
            <th>{{ check_config|field_name:field }}</th>
            <td>{{ check_config|get:field|yesno }}</td>
          </tr>
        {% endfor %}
        {% endwith %}
        </table>
    </section>

  {% endfor %}


  <h2>{% trans 'Jobs' %}</h2>

  {% include 'core/table_jobs.html' with jobs=repository.jobs.values config_column=0 client_column=1 %}
{% endblock %}
