{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with label=job_config.config.label %}Edit job configuration {{ label }}{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>{% blocktrans with label=job_config.config.label %}Edit job configuration {{ label }}{% endblocktrans %}</h1>

  <form method='POST'>
    <table>
      {% block form %}
        {% csrf_token %}
        {{ form }}

        <tr>
          <td colspan='2'><h2>Advanced options</h2></td>
        </tr>

        {{ advanced_form }}
      {% endblock %}

      <tr>
        <td></td>
        <td><input type='submit' value='{% trans 'Save changes' context 'core/client/config_edit submit button' %}'/></td>
      </tr>
    </table>
  </form>
{% endblock %}
