{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Add job configuration' context 'core/client/config_add title' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Add job configuration' context 'core/client/config_add heading' %}</h1>

  <form method='POST'>
    <table>
      {% block form %}
        {% csrf_token %}
        {{ form }}

        <tr>
          <td colspan='2'><h2>Advanced options</h2></td>
        </tr>

        {{ advanced_form }}
      {% endblock %}

      <tr>
        <td></td>
        <td><input type='submit' value='{% trans 'Add configuration' context 'core/client/config_add submit button' %}'/></td>
      </tr>
    </table>
  </form>
{% endblock %}
