{% extends './add.html' %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% blocktrans with id=client.hostname context 'core/client/edit title' %}Edit client {{ id }}{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>{{ client.hostname }}
    <small>
      {% if client.name != client.hostname %}{{ client.name }}{% endif %}
      (<a href='{{ client|get_url }}'>{% trans 'view' context 'core/client/edit view link' %}</a>)
    </small>
  </h1>

  <form method='POST'>
    <table>
      {% block form %}{{ block.super }}{% endblock %}

      <tr>
        <td></td>
        <td><input type='submit' value='{% trans 'Save changes' context 'core/client/edit submit button' %}'/></td>
      </tr>
    </table>
  </form>
{% endblock %}
