{% extends 'base.html' %}
{% load i18n %}
{% load borgcube %}

{% block title %}{% blocktrans with id=client.hostname context 'core/client/view title' %}Client {{ id }}
{% endblocktrans %}{% endblock %}

{% block content %}
  <h1>{{ client.hostname }}
    <small>
      (<a href=':edit'>{% trans 'edit' context 'core/client/view edit link' %}</a>)
    </small>
  </h1>

  <p>{{ client.description }}</p>

  <h2>{% trans 'Connection' context 'core/client/view heading' %}</h2>

  <table class='plist'>
    {% with conn=client.connection %}
      <tr>
        <th>{{ conn|field_name:'remote' }}</th>
        <td>{{ conn.remote }}</td>
      </tr>
      <tr>
        <th>{{ conn|field_name:'rsh' }}</th>
        <td>{{ conn.rsh }}</td>
      </tr>
      {% if conn.rsh_options %}
        <tr>
          <th>{{ conn|field_name:'rsh_options' }}</th>
          <td>{{ conn.rsh_options }}</td>
        </tr>
      {% endif %}
      {% if conn.ssh_identity_file %}
        <tr>
          <th>{{ conn|field_name:'ssh_identity_file' }}</th>
          <td>{{ conn.ssh_identity_file }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>{{ conn|field_name:'remote_borg' }}</th>
        <td>{{ conn.remote_borg }}</td>
      </tr>
      {% if conn.remote_cache_dir %}
        <tr>
          <th>{{ conn|field_name:'remote_cache_dir' }}</th>
          <td>{{ conn.remote_cache_dir }}</td>
        </tr>
      {% endif %}
    {% endwith %}
  </table>

  <h2>{% trans 'Job configurations' context 'core/client/view heading' %}
    <small>(<a href='job-configs?view=add'>add</a>)</small></h2>

  {% for job_config in client.job_configs %}

    <section class='job-config' id='job-config-{{ job_config.oid }}'>
      <h3>{{ job_config.label }} <small>
        {# url 'core.job_config_trigger' client.hostname job_config.oid as url #}
        {% trans 'run now' as label %}
        ({% include 'core/post_link.html' with url=url label=label %})
        (<a href='job-configs/{{ job_config.oid }}/'>{% trans 'edit' %}</a>)
      </small></h3>


        <table class='plist'>
          <tr>
            <th>{{ job_config|field_name:'repository' }}</th>
            <td><a href='{{ job_config.repository|get_url }}'>{{ job_config.repository.name }}</a></td>
          </tr>
          <tr>
            <th>{% trans 'One file system' %}</th>
            <td>{{ job_config.one_file_system|yesno }}</td>
          </tr>
          <tr>
            <th>{% trans 'Compression' %}</th>
            <td>{{ job_config.compression|compression_name }}</td>
          </tr>
          <tr>
            <th>{% trans 'Paths' %}</th>
            <td>
              {% for path in job_config.paths %}
                <pre>{{ path }}</pre>
                {% if forloop.counter0 %}<br>{% endif %}
              {% endfor %}
            </td>
          </tr>
          {% if job_config.excludes %}
          <tr>
            <th>{% trans 'Exclusion patterns' %}</th>
            <td>
              {% for pattern in job_config.excludes %}
                <pre>{{ pattern }}</pre>
                {% if forloop.counter0 %}<br>{% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
        </table>
    </section>

  {% endfor %}

  <h2 id='jobs'>{% trans 'Jobs' context 'core/client/view heading' %}</h2>

  {% include 'core/table_jobs.html' with jobs=jobs repository_column=1 client_column=0 config_column=1 %}

  {% include 'core/pagination.html' with page=jobs prefix='jobs' %}

{% endblock %}
