{% comment %}
Expected variables:
- jobs: list of Job instances

Options:
- client_column: show client link for each job
- config_column: show configuration column
- repository_column: show repository column
{% endcomment %}

{% load i18n %}
{% load borgcube %}

{% if jobs %}
<table class='jobs' cellpadding='3px'>
  <tr>
    <th>{% trans 'Timestamp' context 'jobs table' %}</th>
    {% if repository_column %}
      <th>{% trans 'Repository' context 'jobs table' %}</th>
    {% endif %}
    {% if client_column %}
      <th>{% trans 'Client' context 'jobs table' %}</th>
    {% endif %}
    {% if config_column %}
    <th>{% trans 'Configuration' context 'jobs table' %}</th>
    {% endif %}
    <th>{% trans 'Outcome' context 'jobs table' %}</th>
    <th>{% trans 'Duration' context 'jobs table' %}</th>
    <th></th>
  </tr>

  {% for job in jobs %}
    <tr {% if job.failed %}class='failed'{% elif job.data.borg_warning %}class='warning'{% endif %}>
    <td><a href='{{ job|get_url }}'>{{ job.timestamp_start|default:job.created }}</a></td>
    {% if repository_column %}
      <td>
        {% if job.repository %}
        <a href='{{ job.repository|get_url }}'>{{ job.repository.name }}</a>
        {% endif %}
      </td>
    {% endif %}
    {% if client_column %}
      {% if job.client %}
      <td><a href='{{ job.client|get_url }}'>{{ job.client.hostname }}</a>
        {% if job.config %}
          ({{ job.config.label }})
        {% endif %}
      </td>
      {% else %}
      <td>({{ job.verbose_name }})</td>
      {% endif %}
    {% endif %}
    {% if config_column %}
    {% if job.config %}
    <td><a href='{{ job.get_jobconfig|get_url }}'>{{ job.config.label }}</a></td>
    {% else %}
    <td>{% trans 'Unknown' context 'jobs table' %}</td>
    {% endif %}
    {% endif %}
    <td>{{ job|job_outcome }}</td>
    {% if job.stable %}
    <td>{{ job.duration|format_timedelta }}</td>
    <td></td>
    {% else %}
    <td><em>{{ job.duration|format_timedelta }}</em></td>
    <td><a href='{% url 'core.job_cancel' job.id %}'>C</a></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>
{% else %}
No jobs found.
{% endif %}